.container{
    max-width: 550px;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    padding: 25px 5px;
    background-color: lightblue; 
}

#test{
    background-color: black;
}

#wicon{
    width: 150px;
}

ul{
    list-style-type: none;
}

h2{
    font-size: 50px;
}

li{
    font-size: 30px;
}